#container {

    ul {
        width: 80%;
        max-width: 1200px;
        margin: auto;
        list-style-type: none;
        display: flex;
        justify-content: center;
        box-shadow: 0px 10px 5px -10px #000000;
        padding: 1rem 0;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, #ffffff00 0%, #ffffff 20%, #ffffff 80%, #ffffff00 100%);

        li {
            margin: 0 1rem;

            a {
                color: #000;
                text-decoration: none;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    #container {

        ul {
            flex-wrap: wrap;
            justify-content: flex-start;

            li {
                width: 50%;
                margin: .5rem 0;
                text-align: center;

                &:last-of-type {
                    width: 50%;
                }
            }
        }
    }
}