@import '../../colors.scss';

#container {
    
    > div {

        article {

            > div {

                &:first-of-type {
                    
                    > div {
                        display: flex;
                        justify-content: space-between;
                    }
                }

                &:last-of-type {
                    padding: 0;

                    > div {
                        width: 100%;
                        margin-bottom: 1rem;
                        text-decoration: none;
                        display: flex;
                        flex-direction: column;
                        background-color: $white-color;
                        border-radius: $border-radius;

                        &:nth-child(3), &:nth-child(6) {
                            margin-right: 0;
                        }

                        > div {

                            &:first-of-type {
                                display: flex;
                                padding: 2rem 2rem 0 2rem;

                                > div {

                                    &:first-of-type {
                                        height: 200px;
                                        width: 200px;
                                        overflow: hidden;
                                        border-radius: $border-radius;
                    
                                        img {
                                            height: 100%;
                                            min-width: 100%;
                                        }
                                    }
                
                                    &:last-of-type {
                                        padding: 0 0 0 2rem;
                                        width: 70%;

                                        h3 {
                                            margin-top: 0;
                                        }

                                        p {

                                            &:last-of-type {
                                                font-weight: 700;
                                                text-align: right;
                                            }
                                        }
                                    }
                                }
                            }

                            &:last-of-type {
                                text-align: center;

                                p {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.full {
    flex-direction: column;

    > div {

        &:first-of-type {
            width: 100%!important;
            height: 300px!important;
            position: relative;

            img {
                min-height: 100%!important;
                height: unset!important;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &:last-of-type {
            padding: 0!important;
            display: flex;
            justify-content: space-between;
            width: 100%!important;

            > div {
                background-color: $bg-color;
                padding: 1rem;
                width: 50%;
                margin-right: 1rem;

                &:last-of-type {
                    margin: 0;
                }

                > div {

                    &:first-of-type {

                        h4 {
                            font-weight: 500;
                            margin: 0;
                        }

                        p {
                            margin-top: .25rem;
                            font-weight: unset!important;
                            text-align: unset!important;
                        }
                    }

                    &:last-of-type {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
        
                        p {
                            margin: 0;
                            font-weight: 400!important;
        
                            span {
                                font-weight: 700;
                                font-size: 22px;
                            }
                        }
        
                        a {
                            padding: .5rem 2rem;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    #container {

        > div {

            article {

                > div  {

                    > div {

                        &:first-of-type {
                            flex-direction: column;
                        }
                    }

                    &:last-of-type {

                        > div {

                            > div {

                                &:first-of-type {
                                    flex-direction: column;

                                    > div {
                                        width: 100%!important;
                                        padding: 0!important;

                                        &:last-of-type {
                                            margin-top: 1rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            > div {
                
            }
        }
    }

    .full {

        > div {

            &:first-of-type {
                height: 200px !important;

                img {
                    height: 100%!important;
                }
            }

            &:last-of-type {
                flex-direction: column;

                > div {
                    width: unset;
                    margin-right: 0;
                    margin-bottom: 1rem;

                    > div {

                        &:last-of-type {

                            p {
                                text-align: left!important;
                            }
                        }
                    }
                }
            }
        }
    }
}