@import '../../colors.scss' ;

#container {
    border-top: 1px solid $footer-border-color;

    > div {
        width: 80%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        > div {
            display: flex;
            align-items: center;

            p {
                color: #000;
            }

            &:nth-child(2) {
                
                a {
                    margin: 0 .5rem;
                    color: #fff;
                    text-decoration: none;
                    background-color: #000;
                    height: 25px;
                    width: 25px;
                    padding: .25rem;
                    border-radius: 50%;
                    text-align: center;
                }
            }

            &:nth-child(3) {

                ul {
                    display: flex;
                    align-items: center;
                    margin: 0;
                    padding: 0;

                    li {
                        padding: 0 1rem;
                        list-style-type: none;

                        a {
                            color: #000;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    #container {

        > div {
            flex-direction: column;

            div {
                text-align: center;
                justify-content: center;

                &:nth-child(2) {

                    a {
                        margin: 1rem .5rem;
                    }
                }

                &:nth-child(3) {

                    ul {
                        flex-direction: column;
                        margin: 1rem 0;

                        li {
                            margin: .5rem 0;
                        }
                    }
                }
            }
        }
    }
}