$dark-color: #000000; // Bliver til #000 ved build - fungerer ikke med transparency
$white-color: #ffffff;
$red-color: #f90000;

$border-color: #c8c8c8;
$bg-color: #ebebeb;
$font-color: #373535;
$border-radius: 3px;
$transparency: aa;

$footer-border-color: #c8c8c8;