@import '../../colors.scss';

#left {
    display: flex;
    flex-direction: column;

    > div {

        &:first-of-type {
            flex-direction: column;
            padding: 0 0 2rem 0;

            p {
                margin: 0;
            }
        }
    }

        .order {
            display: flex;
            background-color: $white-color;
            width: 100%;
            padding: 0;
            margin-top: 2rem;

            > div {
                width: 24%;
                margin: 0;

                &:first-of-type {
                    padding-left: 2%;
                }

                &:last-of-type {
                    padding-right: 2%;

                    p {
                        color: $red-color;
                        cursor: pointer;
                    }
                }

                h3 {
                    margin-bottom: .5rem;
                }

                p {
                    margin: 0;

                    &:last-of-type {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
}

#right {

    button {
        padding: .5rem 2rem;
    }
}


@media only screen and (max-width: 992px) {
    #left {

        .order {
            flex-direction: column;

            > div {
                width: 100%;
                padding: 0 .5rem;
            }
        }
    }
}