.slider-dka {

    > div {

        > div {

            &:nth-child(2), &:nth-child(3) {

                &:hover {

                    button {
                        background-color: #aaa!important;
                        opacity: 1!important;
            
                        svg {
                            fill: #000!important;
                        }
        
                    }
                }

                button {
                    background-color: #fff;
                    opacity: 1;
            
                    svg {
                        fill: #000
                    }
                }
            }
        }
    }
}