@import '../../colors.scss' ;

#container {
    position: relative;
    
    h1 {
        text-transform: uppercase;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 99;
        width: 40%;
        left: 30%;
        color: $white-color;
        background-color: #000000aa;
        padding: .5rem 6rem;
        box-sizing: border-box;
        border-bottom: 1rem solid $white-color + $transparency;
        font-weight: 300;
    }

    .imgContainer {
        height: 600px;
        position: relative;
        
        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }
    }
}


@media only screen and (max-width: 992px) {
    #container {

        h1 {
            top: 70%;
            width: 80%;
            left: 0;
            right: 0;
            margin: auto;
        }

        .imgContainer {

            img {
                height: 100%;
                width: unset;
            }
        }
    }
}